form {
  width: 90%;
  max-width: 500px;
  background-color: var(--wonders-magic);
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 26px;
}

.icon-form{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(112deg) brightness(105%) contrast(101%);
  background-image: url('../../static/icons/jupiter.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  border-radius: 5px;
  border: none;
  background-color: #F9FBFC;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  padding: 16px;
  height: 50px;
  width: calc(100% - 29px);
  color: var(--deep-space);
  font-family: var(--main-font);
  font-size: 20px;
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: var(--main-font);
  font-weight: 400;
}

textarea:focus {
  outline: none;
}

.counter-lenght{
  text-align: right;
  width: 100%;
  margin-top: 12px;
}

.TodoForm-buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: var(--white);
  font-weight: 700;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: var(--main-font);
}

.TodoForm-button--add {
  transition: box-shadow 250ms ease-out;
  transition: background 200ms ease-out;
  background: var(--pink-diamond);
  box-shadow: 0px 5px 25px rgba(230, 115, 252, 0.5);
}

.TodoForm-button--add:hover {
  box-shadow: 0px 5px 25px rgb(229, 115, 252);
}

.TodoForm-button--invalid{
  background: var(--saturns-rings);
  cursor: default;
}

.TodoForm-button--cancel {
  transition: border 200ms ease-out;
  background: transparent;
  border: transparent;
}

.TodoForm-button--cancel:hover {
  border: 2px var(--white) solid;
}