.TodoItem {
  min-width: 600px;
  min-height: 80px;
  height: fit-content;
  background-color: var(--white);
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(230, 115, 252, 0.15);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.TodoItem--completed{
  background-color: var(--white-disabled);
}

  
.TodoItem-p {
  font-size: 18px;
  font-weight: 550;
  width: 400px;
  overflow-wrap: break-word;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 250ms ease-out;
}
  
.Icon-check {
    filter: var(--deep-space-svg);
}

.Icon-check:hover{
    background-image: url('../../static/icons/filled.svg');
}

.Icon-check--todo{
  background-image: url('../../static/icons/uncheked.svg');
}

.Icon-check--complete{
    background-image: url('../../static/icons/checked.svg');
}
  
.Icon-delete {
    filter: var(--red);
    background-image: url('../../static/icons/empty-trash-can.svg');
}

.Icon-delete:hover,
.Icon-delete--completed{
    background-image: url('../../static/icons/filled-trash-can.svg');
}