.SearchBarSection{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 24px;
}

.SearchBarInputGroup{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--kings-dragon);
  min-width: 600px;
  border-radius: 12px;
  height: 48px;
  padding: 0 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.SearchBarIcon{
  background-image: url('../../static/icons/search-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 12px;
  margin-right: 24px;
}

.TodoSearch {
   background-color: transparent;
   border: none;
   font-size: 20px;
   font-family: var(--main-font);
   color: var(--white);
   width: 100%;
}
  
  .TodoSearch::placeholder {
    color: var(--white-disabled);
    font-family: var(--main-font);
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline: none;
  }