.CreateTodoButton {
    background-color: var(--pink-diamond);
    box-shadow: 0px 5px 25px rgba(230, 115, 252, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: var(--white);
    height: 64px;
    width: 64px;
    z-index: 1;
    transition: box-shadow 250ms ease-out;
  }
  
  .CreateTodoButton:hover {
    box-shadow: 4px 8px 28px 4px rgb(229, 115, 252);
  }