body {
  margin: 0;
  font-family: 'Montserrat';
  background: rgb(41,37,68);
  background: linear-gradient(315deg, rgba(41,37,68,1) 0%, rgba(66,36,134,1) 26%, rgba(160,76,193,1) 100%);   
}

#root{
  min-height: 100vh;
}
#root, #modal{  
  --main-font: 'Montserrat';
  --white: #FFFFFF;
  --white-disabled: #cccccc;
  --kings-dragon: #2F2763;
  --pink-diamond: #E673FC;
  --wonders-magic: #422486;
  --deep-space: #292544;
  --saturns-rings: #A04CC1;
  --deep-space-svg: brightness(0)
                    saturate(100%)
                    invert(13%)
                    sepia(14%)
                    saturate(2439%)
                    hue-rotate(208deg)
                    brightness(92%)
                    contrast(90%);
  --red:  brightness(0)
          saturate(100%)
          invert(54%)
          sepia(8%)
          saturate(3586%)
          hue-rotate(306deg)
          brightness(94%)
          contrast(101%);
}
